*{
	padding: 0px;
	margin: 0px;

}
.con{
	max-width: 1200px;
	margin: 0 auto;
}
header{
	width: 100%;
	min-height: 150px;
	background-color: gold;
	margin-bottom: 50px;
}
header > div{
	display: flex;
}
.headerL,.headerR{
	width: 100%;
	min-height: 150px;
	display: flex;
	align-items: center;
}
menu > li{
	list-style: none;
	display: inline;
	margin-right: 50px;
	font-size: 25px;
	color: white;
}
/*Main*/
main{
	width: 100%;
	min-height: 500px;
	background-color: lightblue;
	display: flex;
	
}
.mainL{
	width: 50%;
}
.mainR{
	width: 50%;
}
.mainL > img{
	width: 100%;
	height: 100%;
}
.text > h2{	
	color: orange;
	font-size: 40px;
	text-align: center;
}
.text > p{
	color:003300;
	margin-top: 20px;
}
footer{
	min-height: 100px;
	background-color: white;
	margin-top: 50px;
}
footer > div > p {
	color: black;
	text-align: center;
	line-height: 100px;
}