*{
	padding: 0px;
	margin: 0px;

}
.con{
	max-width: 1200px;
	margin: 0 auto;
}
header{
	width: 100%;
	min-height: 150px;
	background-color: lightblue;
}
header > div{
	display: flex;
}
.headerL,.headerR{
	width: 100%;
	min-height: 150px;
	display: flex;
	align-items: center;
}
menu > li{
	list-style: none;
	display: inline;
	margin-right: 50px;
	font-size: 25px;
	color: white;
}
/*Main*/
.content{
	width: 100%;
	min-height: 500px;
	background-color: lightcolar;
	margin-top: 50px;
}