 *{
 	 margin: 0px;

 	 padding: 0px;
 }
 .container{
 	max-width: 1200px;
 	margin: 0 auto;
 }
 .title{
 	width: 100%;
 	min-height: 150px;
 	background-color: lightsalmon;
 	display: flex;
 	justify-content: center;
 }
.title > h2 {
	color: white;
	font-size: 35px;
	align-self: center;
}
.mian{
	width: 100%;
	min-height: 500px;
	background-color: lightsalmon;
	margin-top: 50px;
	display: flex;
}
.mianL{
	width: 50%;
	min-height: 500px;	
}
.mianR{
	width: 50%;
	min-height: 500px;
}
.mainL > img{
	width: 100%;
}
.mianR > h2{
	color: white;
	text-align: center;
	padding: 20px 0;
}
.mianR > p{
	padding-left: 15px;
	padding-top: 10px;
	color: white;
}
.footer{
	width: 100%;
	background-color: lightsalmon;
	min-height: 150px;
	margin-top: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
menu > li{
	list-style: none;
	display: inline;
}
menu > li > a {
	color: red;
	text-decoration: none;
	padding-left: 50px;
	font-size: 20px;
}
@media screen and (max-width: 700px){
	.mian{
		display: block;
		min-height:300px;
	}
	.mainL,.mianR{
		width: 100%;
		min-height: 150px;
	}
	.mianR{
		padding-bottom: 50px;
	}
	.mianR > p{
		text-align: center;
	}
}



