body{
	background-color: blue;
}

.santa{
width: 350px;
height: 600px;
background-color: green

}
.body{
	width: 350px;
	height: 350px;
	background-color: red;
	border-radius: 50%;
	position: absolute;
	top: 250px;
}
.head{
	width: 170px;
	height: 250px;
	background-color: red;
	position: absolute;
	left: 90px;
	top: 70px;
	z-index: 1;
}
.beard{
width:170px; 
height:100px;
background-color: white;
position: absolute;
top:170px;
border-radius:  0% 0% 35% 35%;


}