/*all style*/
*{
	padding: 0px;
	margin: 0px;
}
.con{
	max-width: 1200px;
	margin: 0 auto;
}
header{
	width: 100%;
	min-height: 150px;
	background-color: lightgrey;
	margin-bottom: 50px;
}
header > div{
	display: flex;
}
.headerL,.headerR{
	width: 100%;
	min-height: 150px;
	display: flex;
	align-items: center;
}
menu > li{
	list-style: none;
	display: inline;
	margin-left: 50px;
}
menu > li > a{
font-size: 20px;
color: black;
text-decoration: none;
}
menu > li > a:hover{
	color: grey;
	text-decoration: underline;
}

/* Main */
main{
	width: 100%;
	min-height: 500px;
	background-color: lightgrey;
	display: flex;
}
.mainL{
	width: 50%;

}
.mainR{
	width: 50%;
}
.mainL > img{
	width: 100%;
}
.mainR > img{
	width: 100%;
}
.text{
	padding: 25px;
}
.text > h2{
	color: gold;
	font-size: 40px;
	text-align: center;
}
.text > p{
	color: black;
	margin-top: 20px;
}
footer{
	background-color: grey;
	min-height: 100px;
	margin-top: 50px;
}
footer > div > p {
	color: white;
	text-align: center;
	line-height: 100px;
}