body{
	
	background-image: url(snow.gif);
	background-size: 100%;
}
p{
	color: lightgreen;
	font-size: 43px;
	text-align:center;
	animation:10s fon infinite;
}
@keyframes fon{
    0%{color: white;}
    25%{color: teal;}
    50%{color: lightgreen;                                                                                                                                                                                                                                                                                          }
    75%{color: purple;}
    100%{color: lightblue;}
    125%{color:red;}
 }
    
.snowman{
   width:200px;
   height:500px;
   position:absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
    
	}
.body{
   	width: 150px;
   	height: 150px;
   	background-color: grey;
   	border-radius: 50%;
   	position:absolute;
   	top: 150px;
   	left: 25px;
   }
.legs{
	width: 200px;
	height: 200px;
	background-color: grey;
	border-radius: 50%; 
	position:absolute;
	top: 300px;
}
.head{
	width: 100px;
	height: 100px;
	background-color: grey;
	border-radius: 50%; 
	position:absolute;
	left: 50px;
	top: 50px;

}
.eyel{
	width: 10px;
	height: 10px;
	background-color: black;
	border-radius: 50%;
	position:absolute;
	top: 40px;
	left: 20px;
}
.eyer{
	width: 10px;
	height: 10px;
	background-color: black;
    border-radius: 50%;
    position:absolute;
    top: 40px;
    left: 70px;	
}
.smile{
	width: 25px;
	height: 20px;
	background-color: black;
	border-radius: 0 0 50% 50% / 0 0 100% 100%;
	position:absolute;
	left: 40px;
	top:40px; 
}
.arml{
	width: 100px;
	height: 10px;
	background-color: brown;
	position:absolute;
	left: -90px;
	top: 55px;
	transform:rotate(-15deg);
	z-index: -1;
}
.armr{
	width: 100px;
	height: 10px;
	background-color: brown;
	position:absolute;
	left: 140px;
	top:55px;
	transform:rotate(15deg);
	z-index: -1;
}

.legl{
	width: 60px;
	height: 40px;
	background-color: grey;
	border-radius: 50%;
    position:absolute;
    top: 170px;
}
.legr{
	width: 60px;
	height: 40px;
	background-color: grey;
	border-radius: 50%;
	position:absolute;
	top: 170px;
	left: 135px;
}
.dot1{
	width: 10px;
	height: 10px;
	background-color: black;
	border-radius: 50%;
	position:absolute;
	left:70px;
	top:40px;
	animation: 3s pygovica infinite;
}
.dot2{
	width: 10px;
	height: 10px;
	background-color: black;
	border-radius: 50%;
	position:absolute;
	left: 70px;
	top:120px;
	animation: 3s pygovica infinite;
}
.dot3{
	width: 10px;
	height: 10px;
	background-color: black;
	border-radius: 50%;
	position:absolute;
	left: 95px;
	top: 60px;
	animation: 3s pygovica infinite;
}
.dot4{
	width: 10px;
	height: 10px;
	background-color: black;
	border-radius: 50%;
	position:absolute;
	left: 102px;
	top: 140px;
	animation: 3s pygovica infinite;
}
@keyframes pygovica {
	0%{background-color: black;height: 10px}
	25%{background-color:lightgreen;}
	50%{background-color:tomato;height: 25px}
	75%{background-color:pink;}
	100%{background-color:lightblue;height: 10px}
}